{%extends 'main.html'%}

{%block content%}
<div class="">
   
	<!-- Header -->
		<header class="header header-fixed bg-white">
			<div class="container">
				<div class="header-content">
					<div class="left-content">
						<a href="javascript:void(0);" class="back-btn">
							<i class="fa fa-chevron-left"></i>
						</a>
						<h6 class="title">Profile</h6>
					</div>
					<div class="mid-content header-logo">
					</div>
					<div class="right-content dz-meta">
					</div>
				</div>
			</div>
		</header>
	<!-- Header -->
	
	<!-- Page Content Start -->
	<div class="page-content space-top p-b40" style="overflow-y: scroll;height: 100vh;">
		<div class="container">
			<div class="detail-area">
				<div class="dz-media-card style-2">
					<div class="dz-media">
						<img src="{{profile['logo']}}" alt="">
					</div>
					<div class="dz-content">
						<div class="left-content">
							<h4 class="title">{{profile['name']}}</h4>
							<p class="mb-0"><i class="fa fa-map-pin"></i> {{profile['coordinates']|join(':')}}</p>
							<p class="mb-0"><b>Address</b>: {{profile['address']}}</p>
						</div>
						
						<a href="javascript:void(0);" class="dz-icon"><i class="fa fa-star"></i></a>
						
					</div>
				</div>
				<div class="detail-bottom-area">
					<div class="about">
						<h6 class="title">Basic information</h6>
						<p class="para-text"><b>Email </b>: {{profile['email']}} <b>Is Pickup</b>: {{"True" if profile['is_pickup'] else "False"}} </p>					
					</div>
					<div class="intrests mb-3">
						<h6 class="title">Groups \ Categories</h6>
						<ul class="dz-tag-list">
							{%for group in groups %}
							<li> 
								<div class="dz-tag">
									<i class="fa fa-map-pin"></i>
									<span>{{group['name']}}</span>
								</div>
							</li>
							{%endfor%}
						</ul>
					</div>
					<div class="languages mb-3" style="min-height:232px;height: auto;">
						<h6 class="title">Products</h6>
						<ul class="row g-3 item-list" style="margin-top: 14px;overflow-y: scroll;height: 400px;">
							{%for p in products%}
							<li class="dz-tag col-md-6 col-12"> 
								<div class="dz-media-card style-3">
									<img src="{{p['image']}}" class="rounded mx-auto d-block" alt="...">
									<div class="dz-content">
										{%set prod_id = p['id']%}
										<h3  class="btn btn-light rounded-xl explore-now" onclick='module.showSingle("{{prod_id}}")'>{{p['name']}}</h3>
									</div>
								</div>
							</li>
							{%endfor%}
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>  
<script>
	const module = {}
</script>
<script type="module">
	import {fetchFunction} from "{{url_for('static',filename='js/modules/modules.js')}}"
	import {showProduct,showSingle,addCart,addWish} from "{{url_for('static',filename='js/modules/gallery/gallery.js')}}"
	module.fetch = fetchFunction
	module.showProduct= showProduct
	  module.showSingle = showSingle
	  module.user_id = "{{user_id}}"
	module.addCart = addCart
	module.addWish = addWish
</script>
{%endblock%}